# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Entorno virtual
venv/
env/
ENV/
.env
*.env

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Base de datos
*.db
*.sqlite3

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db 